@using PagedList.Mvc;
@using Office_Dll;
@model PagedList.IPagedList<db_benifit>


@Scripts.Render("~/bundles/bootstrap")


<script>
$(document).ready(function () {

    $("#HoliDay_Date").datepicker({

        dateFormat: "yy-mm-dd",
        changeYear: true,
        changeMonth: true,
        numberOfMonths: 1

    });
    $("#HoliDay_Date").datepicker().datepicker("setDate", new Date());

$("#save").click(function(){
    if ($('#Discription').val().trim() == '')
    {

        $('#message').html("Discription require");

    }

    else {

        if ($("#Id").val() == "") {


            var params = {
                Discription: $("#Discription").val(),
                Status: $("input[name='Status']:checked").val(),
                HoliDay_Date: $("#HoliDay_Date").val(),
                User_Id: 1,
                Date: "2/2/2014"
            };

            var fun =  '@Url.Action("AddData")';
            $.fn.ajaxfuncall(params, fun);


        }

        else {


            var params = {
                Id: $("#Id").val(),
                Discription: $("#Discription").val(),
                Status: $("input[name='Status']:checked").val(),
                HoliDay_Date: $("#HoliDay_Date").val()
            };

            var fun = '@Url.Action("EditData")';
            $.fn.ajaxfuncall(params, fun);


        }

    }

});

$.fn.ajaxfuncall = function (params, fun) {


    $.ajax({
        url: fun,
        data: JSON.stringify({ data: params }),
        type: 'POST',
        dataType: 'json',
        async: false,
        contentType: 'application/json',
        success: function (message) {

            $("#Id").val("");
            $("#Discription").val("");
            $("#HoliDay_Date").datepicker().datepicker("setDate", new Date());

            $("#Active").prop("checked", true);
             $('#message').html(message);
            location.reload();

        }
    });



}

$("#product-table tr td input[name='delete']").click(function () {

    var params = {
        Id: $(this).closest("tr").find("#Cel_n").val()
    };
    $.ajax({
        url: '@Url.Action("Delete")',

        data: JSON.stringify({ data: params }),
        type: 'POST',
        dataType: 'json',
        async: false,
        contentType: 'application/json',
        success: function (message) {

            alert(message);
            location.reload();


        }
    });

});

$("#product-table tr td input[name='edit']").click(function () {
    
    $.ajax({
        url: '@Url.Action("Edit")',

        data: JSON.stringify({ Id: $(this).closest("tr").find("#Cel_n").val() }),
        type: 'POST',
        dataType: 'json',
        async: false,
        contentType: 'application/json',
        success: function (_db_benifit) {

            $("#Discription").val(_db_benifit.Discription);

            var date = _db_benifit.HoliDay_Date;
            var substringedDate = date.substring(6); //substringedDate= 1291548407008)/
            var parsedIntDate = parseInt(substringedDate); //parsedIntDate= 1291548407008
            var date = new Date(parsedIntDate);
            $("#HoliDay_Date").datepicker().datepicker("setDate", date);

            $("#Id").val(_db_benifit.Id);
            if (_db_benifit.Status == true)
               $("#Active").prop("checked", true)
           else
               $("#Inactive").prop("checked", true)



        }
    });


});


    });
</script>





<!-- start content -->
<div id="content">

    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Benifit Management</h1>
    </div>
    <!-- end page-heading -->

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
            <th class="topleft"></th>
            <td id="tbl-border-top">&nbsp;</td>
            <th class="topright"></th>
            <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
        </tr>
        <tr>
            <td id="tbl-border-left"></td>
            <th>

                <div id="content-table-inner" style="width:600px;float:left;">


                    <div id="table-content">


                        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                            <tr>
                                <th class="table-header-check"><a id="toggle-all"></a> </th>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Date</a>	</th>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Description</a></th>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Amount</a></th>
                                <th class="table-header-repeat line-left minwidth-1"><a href="">Type</a></th>
                                <th class="table-header-repeat line-left"><a href="">Options</a></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>
                                        @{string datehd = item.HoliDay_Date.ToShortDateString(); }
                                        @Html.Label(datehd, new { style = "color:black;" })
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Discription)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Discription)</td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            @Html.Label("Active")
                                        }
                                        else {
                                            @Html.Label("Inactive")
                                        }
                                    </td>
                                    <td class="options-width">
                                        @Html.Hidden("Cel_n", item.Id)
                                        <input type="button" class="butts" title="Edit" name="edit" />
                                        @Html.Hidden("Cel_n", item.Id)
                                        <input type="button" class="del" title="Delete" name="delete" />
                                    </td>
                                </tr>
                                            }
                        </table>
                        <!--  end product-table................................... -->

                    </div>

                    <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                        <tr>
                            <td>
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                     new { page }))
                            </td>
                        </tr>
                    </table>
                    <!--  end paging................ -->

                    <div class="clear"></div>

                </div>

                <div style="margin-left:600px;margin-top:10px;">
                    <div class="alert alert-success">

                        <span id="message">&nbsp</span>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>


                    <table border="0" cellpadding="0" cellspacing="0" id="id-form" style="margin-top:5px;">

                        <tr>
                            <th valign="top">Date:</th>
                            <td><input type="text" class="inp-form" id="date" readonly="readonly" /><input type="hidden" class="inp-form" id="Id" /></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th valign="top">Discription:</th>
                            <td>
                                <textarea rows="" cols="" class="form-textarea" id="comments"></textarea>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Amount:</th>
                            <td><input type="text" class="inp-form" id="amount" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Type:</th>
                            <td>
                                @Html.RadioButton("type", true, new { id = "Active", Checked = "checked" })
                                @Html.Label("Active")

                                @Html.RadioButton("type", false, new { id = "Inactive" })
                                @Html.Label("Inactive")
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                                <input type="button" value="Save" class="form-submit" id="save" />

                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
                <!-- end id-form  -->
                </td>
            <td id="tbl-border-right"></td>
        </tr>

        <tr>
            <th class="sized bottomleft"></th>
            <td id="tbl-border-bottom">&nbsp;</td>
            <th class="sized bottomright"></th>
        </tr>
    </table>
</div>

